/* a port of https://github.com/primer/primer-css/blob/master/modules/primer-support/lib/variables/color-system.scss */
.github-markdown-toc {
  --gray-000: #fafbfc;
  --gray-100: #f6f8fa;
  --gray-200: #e1e4e8;
  --gray-300: #d1d5da;
  --gray-400: #959da5;
  --gray-500: #6a737d;
  --gray-600: #586069;
  --gray-700: #444d56;
  --gray-800: #2f363d;
  --gray-900: #24292e;
}

:root {
  --nav-width: 200px;
  --animation-time: 0.3s;
  --log-in-header-height: 60px;
  --log-out-header-height: 88px;
  --toggle-button-size: 30px;
  --toggle-button-margin_log-in: calc(
    (var(--log-in-header-height) - var(--toggle-button-size)) / 2
  );
  --toggle-button-margin_log-out: calc(
    (var(--log-out-header-height) - var(--toggle-button-size)) / 2
  );
  --nav-inner-padding: 12px;
  --header-padding_log-in: calc(
    var(--toggle-button-margin_log-in) + var(--toggle-button-size)
  );
  --header-padding_log-out: calc(
    var(--toggle-button-margin_log-out) + var(--toggle-button-size)
  );
}

body {
  transition: var(--animation-time) 0s margin-right ease-in-out;
}

body[data-github-markdown-toc-open] {
  margin-right: var(--nav-width);
}

.Header {
  transition: var(--animation-time) 0s padding-right ease-in-out;
}

body.logged-in .Header {
  padding-right: var(--header-padding_log-in);
}

body.logged-out .Header {
  padding-right: var(--header-padding_log-out);
}

body[data-github-markdown-toc-open] .Header {
  padding-right: inherit;
}


.github-markdown-toc {
  color: var(--gray-900);
  font-size: 14px;

  .toggle-btn {
    position: fixed;
    width: var(--toggle-button-size);
    height: var(--toggle-button-size);
    padding: 0;
    border: none;
    border-radius: 3px;
    background-image: url(../svg/arrow-left.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--gray-200);
    z-index: 100;

    body.logged-in & {
      top: var(--toggle-button-margin_log-in);
      right: var(--toggle-button-margin_log-in);
    }

    body.logged-out & {
      top: var(--toggle-button-margin_log-out);
      right: var(--toggle-button-margin_log-out);
    }
  }

  &[data-open] .toggle-btn {
    background-image: url(../svg/arrow-right.svg);
  }

  .toggle-btn[disabled] {
    background-image: url(../svg/arrow-left-disabled.svg);
  }

  noscript {
    display: block;
    margin-right: var(--nav-inner-padding);
    margin-left: var(--nav-inner-padding);
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--nav-width);
    border-left: solid 1px var(--gray-200);
    box-sizing: border-box;
    background-color: var(--gray-000);
    z-index: 100;
    transition: var(--animation-time) 0s transform ease-in-out;

    body.logged-in & {
      padding-top: var(--log-in-header-height);
    }
    body.logged-out & {
      padding-top: var(--log-out-header-height);
    }
  }

  &[aria-busy] nav {
    background-image: url(../svg/spinner.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px;

    ol {
      display: none;
    }
  }

  &:not([data-open]) nav {
    transform: translate(var(--nav-width), 0);
  }

  ol {
    list-style-type: none;
    max-height: 100%;
    line-height: 1.25;
    overflow: auto;
  }

  li {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: var(--nav-inner-padding);
  }
}
